<nav>
    <a mat-button id="linkServicio" routerLink="./" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Servicio</a>

    <a mat-button *ngIf="experienciaValida" id="linkRegistrarServicio" routerLink="./registrar" routerLinkActive="active">Registrar Servicio</a>
    <a mat-button id="linkReservarServicio" routerLink="./reservar" routerLinkActive="active">Reservar Servicio</a>
    <a mat-button id="linkCalificarServicio" routerLink="./calificar" routerLinkActive="active">Calificar Servicio</a>
</nav>
<router-outlet></router-outlet>