<nav>
  <a mat-button id="linkProducto" routerLink="./" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Producto</a>
  <a mat-button id="linkCrearProducto" routerLink="./crear" routerLinkActive="active">Crear producto</a>
  <a mat-button id="linkBorrarProducto" routerLink="./borrar" routerLinkActive="active">Borrar producto</a>
  <a mat-button id="linkListarProducto" routerLink="./listar" routerLinkActive="active">listar producto</a>
</nav>
<router-outlet></router-outlet>
